{% extends "components/base.jinja2" %}
{% block main %}
    <h1>Choose login method</h1>
    <h3>Login as normal user</h3>
    <a href="/login" class="btn" role="button">Normal login</a>
    <h3>Login as retarded user using masking password</h3>
    <a href="/login2" class="btn" role="button">Retarded login</a>
{% endblock %}